.item{
    width: 100%;
    float: left;
    margin-bottom: 20px;

    img{
        width: 100px;
        float: left;
        margin-right: 20px;
        border-radius: 5px;
    }

    h2{
        color: black;
        margin-bottom: 10px;
    }
    b{
        color: #0058AB;
        font-weight: 700;
        font-size: 20px ;
    }

    .deleteIcon {
        color: #fff;
        float: right;
        position: relative;
        top: -25px;
        font-size: 30px;
        cursor: pointer;
        transition: color,transform 1000ms ease;    
        
        &:hover {
            color:#0058AB;
            transform: scale(1.5);
        }
    }
}