.item{
    width: 40%;
    margin-bottom: 50px;
    background: #FBD914;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 45px;
    


    img{
        width: 100%;
        height: 500px;
        border-radius: 10px 10px 0 0;
        transition: transform 1000ms ease;
        background-size: cover;


        &:hover{
            transform: scale(1.05);
        }
    }

    .addToCard {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-color: #0058AB;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border-radius: 30%;
        color: white;
        cursor: pointer;
        font-weight: 700;
        font-size: 25px;
        transition: transform 1000ms ease;

        &:hover {
            transform: scale(1.2) translateY(-5px);
        }
    }
}