.item{
    width: 40%;
    margin-bottom: 50px;
    background: #FFBF00;
    border-radius: 10px;
    overflow: hidden;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 1000ms ease;

        &:hover{
            transform: scale(1.05);
        }
    }
}