header {
  
  .icon {
    font-size: 40px;
    margin-right: 10px;
  }
  
  .logo {
    font-weight: 600;
    font-size: 26px;
  }

  .shopCartButton {
    float: right;
    cursor: pointer;
    transition: color 500ms ease;
    font-size: 27px;

    &:hover, 
    &.active {
      color: #0058AB;
    }
  }

  .shopCard {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background: #0058AB;
    z-index: 1000;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.57);


  }

  .nav{
    float: right;
    list-style: none;
    margin-top: 5px;

    li {
      display: inline;
      margin-left: 25px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      transition: opacity 500ms ease;
      
      &:hover{
        opacity: 0.5;
      }

    }


  }

  .presentation {
    margin: 50px 0;
    background: url(../../assets/profile-cover-2268.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;

    &::after{
      content: 'Лучше, чем за бугром...';
      color: #fff;
      position: absolute;
      top: 230px;
      left: 50px;
      font-size: 40px;
    }

    &::before{
      content: 'и Точка.';
      color: #fff;
      position: absolute;
      top: 280px;
      left: 280px;
      font-size: 55px;
    }
  }

}
