.fullItem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,1,0.634);
    z-index: 9999;
    overflow: auto;

    h2,p,b {
        margin: 10px 20px;
        color: black;
        padding-bottom: 25px;
        font-size: 25px;
    }

    b{
        color: #0058AB;
        font-size: 30px;
    }

    .addToCard {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-color: #0058AB;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border-radius: 30%;
        color: white;
        cursor: pointer;
        font-weight: 700;
        font-size: 25px;
        transition: transform 1000ms ease;

        &:hover {
            transform: scale(1.2) translateY(-5px);
        }
    }

    .item {
        img {
            width: 100%;
            border-radius: 10px;
            transition: transform 500ms ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .div {
        width: 600px;
        position: relative;
        margin: 10% auto;
        background: #FBD914;
        border-radius: 10px;
        padding-bottom: 55px;

        img{
            width: 100%;
        }
    }
}